.panel[class*=border-left-] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.border-left-info {
  border-left-color: #00bcd4;
}
.border-left-xlg {
  border-left: 3px solid;
}
.panel {
  margin-bottom: 20px;
  border-color: #ddd;
  color: #333;
}
.panel {
  
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-white>.panel-heading {
  background-color: #fff;
  border-bottom-color: #ddd;
}
.panel-heading {
  position: relative;
}
.panel-heading {
  padding: 15px 20px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.page {
  color: #fff;
  background: #f1f5f9;
}
.page.box {
  min-height: 150px;
  background: linear-gradient(to right, #94a2c3, #4286f4) !important;
  margin: 0 -1rem;
  /* font-size: 36px; */
}
.head {
  font-size: 30px;
}
.page.content {
  min-height: calc(84vh - 160px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  /* font-size: 2rem; */
}