<mat-drawer-container   >
  <mat-drawer mode="side" [opened]="sideBarOpen"  >
    <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <div class="container-fluid">
        <div class="page box p-3 mt-2">EMployee Import</div>
        <div class="page content shadow p-3 position-relative">
          
          <div class="content">
            <div class="col-sm-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Employee Import</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Employee Data Update</button>
                </li>
              </ul><br>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  
                  <form enctype="multipart/form-data" id="contact-form" action="/index.php/site/import" method="post">               
                     <div class="row">
                    <div class="col-sm-6">
                      <div class="panel panel-white border-left-xlg  border-left-info">
                        <div class="panel-heading">
                          <h4 class="panel-title"><span class="icon-cloud-upload2" style="color:orange;padding-right: 4px;font-size: 20px;">
                          </span>Employee Import</h4>
                        </div>
                        <div class="panel-body">
                          <div class="panel-body"><div id="overlaygif" style="display:none;"></div>
                          <div class="form-group">
                            <label for="reg_input_name" class="req">Browse File</label><br>
                            <input id="ytContactForm_filea" type="hidden" value="" name="ContactForm[filea]"><input name="ContactForm[filea]" id="ContactForm_filea" type="file">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12" align="right"><input class="btn bg-info " type="submit" name="yt0" value="Submit   "></div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body"> 
                          
                          <div class="row">
                            
                            <div class="col-sm-12">
                              <div class="alert alert-warning warning">
                                <span class="icon-info22" style="color:orange"></span> 
                                Download the excel file format from below link and copy the below values in corresponding columns while filling excel sheet.                                            <br>
                                <p class="form-control-static">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/student_update.xlsx">Employee excel format</a></p>
                              </div>
                            </div>
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </form>            </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  
                  <form enctype="multipart/form-data" id="student-import-form" >                <div class="row">
                    <div class="col-sm-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">Employee Data Update</h4>
                        </div>
                        <div class="panel-body">
                          <div class="panel-body"><div id="overlaygif" style="display:none;"></div>
                          <div class="form-group">
                            <label for="reg_input_name" class="req">Browse File</label><br>
                            <input id="ytContactForm_filea" type="hidden" value="" name="ContactForm[filea]"><input name="ContactForm[filea]" id="ContactForm_filea" type="file">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12" align="right"><input class="btn btn-info" type="submit" name="yt1" value="   submit   "></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                      <div class="panel-body"> 
                        
                        <div class="row">
                          
                          <div class="col-sm-12">
                            <div class="alert alert-warning warning">
                              <span class="icon-info22" style="color:orange"></span> 
                              Download the excel file format from below link and copy the below values in corresponding columns while filling excel sheet.                                            <br>
                              <p class="form-control-static">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/student_update.xlsx">Employee excel format</a></p>
                            </div>
                          </div>
                        </div>
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
              </form>            </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


