.page{
    color: #fff;
    padding: 0 1rem;
    background: #f1f5f9;
 
}
.page.box {
  min-height: 150px;
  background: #0791d3;
  margin: 0 -1rem;
  /* font-size: 36px; */
}
.head{
    font-size: 30px;
}
.page.content{
 min-height: calc(95vh - 160px);
 border-radius: 10px;
 margin-top: -2rem;
 background: white;
 color: black;
 /* font-size: 2rem; */
}
#toggleTop{
    margin-top: 6%;

  /* left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
}
.page.content.data{

  /* left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
}
.display-flex{
    display: flex;
}


.example-full-width {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }

  .tt {
    padding-right: 8px;
  }

