
<mat-drawer-container   >
   <mat-drawer mode="side" [opened]="sideBarOpen"  >
      <!-- <mat-drawer mode="side" opened="true"> -->
         <app-sidenav></app-sidenav>
      </mat-drawer>
      <mat-drawer-content>
         <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
         
         
         
         <div class="container-fluid">
            <div class="page box p-3 mt-2">Certificate Uplode</div>
            <div class="page content shadow p-3 position-relative">
               <div class="row">
                  <div class="col-12">
                     <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Certificate Uplode</h4>
                        <!-- <div class="page-rightheader">
                           <div class="btn-list">
                              <button class="btn btn-outline-primary"  >
                                 <i class="fa fa-plus"   aria-hidden="true"></i>Add Org
                              </button>
                              <button class="btn btn-outline-primary">
                                 <i class="fa fa-download" aria-hidden="true"></i>Import
                              </button>
                           </div>
                        </div> -->
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="card">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-xl-12">
                                 <form>
                                    <mat-form-field appearance="fill" class="example-full-width example-form  tt">
                                       <mat-label>Organization</mat-label>
                                       <mat-select>
                                          <mat-option value="one">First option</mat-option>
                                          <mat-option value="two">Second option</mat-option>
                                       </mat-select>
                                       <mat-icon matPrefix  >verified_user</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="example-full-width example-form  tt">
                                       <mat-label>Branch </mat-label>
                                       <mat-select>
                                          <mat-option value="one">First option</mat-option>
                                          <mat-option value="two">Second option</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="example-full-width example-form  tt">
                                       <mat-label>AcademicYear </mat-label>
                                       <mat-select>
                                          <mat-option value="one">First option</mat-option>
                                          <mat-option value="two">Second option</mat-option>
                                       </mat-select>
                                       <mat-icon matPrefix  >date_range</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="example-full-width example-form  tt">
                                       <mat-label>Class </mat-label>
                                       <mat-select>
                                          <mat-option value="one">First option</mat-option>
                                          <mat-option value="two">Second option</mat-option>
                                       </mat-select>
                                       <mat-icon matPrefix  >class</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="example-full-width example-form  tt">
                                       <mat-label>Student ID </mat-label>
                                       <mat-select>
                                          <mat-option value="one">First option</mat-option>
                                          <mat-option value="two">Second option</mat-option>
                                       </mat-select>
                                       <mat-icon matPrefix  >perm_identity</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width example-form tt " appearance="fill">
                                       <mat-label>Certificate Name </mat-label>
                                       <input matInput>
                                       <mat-icon matPrefix  >book</mat-icon>
                                    </mat-form-field>
                                    
                                    <mat-form-field class="columns example-full-width example-form tt ">
                                       <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
                                       <ng-template #newFile>
                                          <mat-label>Choose file</mat-label>
                                       </ng-template>
                                       <input matInput disabled>
                                       <button mat-icon-button matPrefix (click)="fileInput.click()">
                                          <mat-icon>attach_file</mat-icon>
                                       </button>
                                       <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
                                    </mat-form-field>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    <div class="d-flex flex-wrap gap-2">
                                       <button type="submit" class="btn btn-primary waves-effect waves-light">
                                          Submit
                                       </button>
                                       <button type="reset" class="btn btn-secondary waves-effect">
                                          Cancel
                                       </button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         
      </mat-drawer-content>
   </mat-drawer-container>
   