<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid">
      <div class="page box p-3 mt-2">PayRoll</div>
      <div class="page content shadow p-3 position-relative">
        <div class="row">
          <div class="col-12">
            <div
              class="page-title-box d-sm-flex align-items-center justify-content-between"
            >
              <h4 class="mb-sm-0 font-size-18">Employee Salary</h4>
            </div>
          </div>
        </div>
        <form id="employeemaster-form">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default col">
                <div class="panel-heading">
                  <!-- <h4 class="panel-title">Accounting</h4> -->
                </div>
                <div class="row">
                  <div class="col-6 form-group">
                    <!-- Group Under is used to define the group which the Account name belongs to.!-->
                    <label class="req">Designation</label>
                    <select
                      class="form-control"
                      label=""
                      name="Accountgroup[groupunder]"
                      id="Accountgroup_groupunder"
                    >
                      <option value="">Please Select</option>
                      <option value="1">Senior Developer1</option>
                      <option value="2">Admin</option>
                      <option value="4">PGT</option>
                      <option value="5">TGT</option>
                      <option value="6">Tally Incharge</option>
                      <option value="8">ERP Incharge1</option>
                      <option value="10">EA</option>
                      <option value="11">Principal</option>
                      <option value="12">NA</option>
                      <option value="15">NTT</option>
                      <option value="17">Teacher</option>
                      <option value="18">Coordinator Second Floor</option>
                      <option value="19">IT Incharge</option>
                      <option value="20">sdaf</option>
                      <option value="21">sdc</option>
                      <option value="22">social media</option>
                      <option value="23">ajit bagali</option>
                      <option value="24">karthik driver</option>
                      <option value="25">tenginkai Jatt</option>
                      <option value="27">guru</option>
                      <option value="28">New 1</option>
                      <option value="30">Designer</option>
                      <option value="31">System admin</option>
                      <option value="32">XXT</option>
                      <option value="33">professor</option>
                      <option value="35">Teacher55</option>
                      <option value="36">Professor44</option>
                      <option value="37">supervisor</option>
                      <option value="38">Profesor</option>
                      <option value="42">Teacher 1</option>
                      <option value="43">Teacher 7</option>
                      <option value="44">Teacher 5</option>
                      <option value="46">LEADERRRRR</option>
                      <option value="47">Maths HOD</option>
                      <option value="48">SENIOR ACCOUNTANT</option>
                      <option value="50">Wise. President</option>
                      <option value="51">Lecturer</option>
                      <option value="52">Wise Principal</option>
                    </select>
                    <span
                      class="school_val_error"
                      id="Accountgroup_groupunder_em_"
                      style="display: none"
                    ></span>
                  </div>
                  <div class="form-group col-6">
                    <label for="reg_input">Employee Name*</label>
                    <input
                      class="form-control"
                      id="employee"
                      type="text"
                      value=""
                      name="employee"
                    />
                  </div>
                  <div class="col-6 form-group">
                    <!-- Group Under is used to define the group which the Account name belongs to.!-->
                    <label class="req">Year</label>
                    <select
                      class="form-control"
                      label=""
                      name="Accountgroup[groupunder]"
                      id="Accountgroup_groupunder"
                    >
                      <option selected="selected" value="">--Select--</option>
                      <option value="2031">2031</option>
                      <option value="2032">2032</option>
                    </select>
                    <span
                      class="school_val_error"
                      id="Accountgroup_groupunder_em_"
                      style="display: none"
                    ></span>
                  </div>
                  <div class="col-6 form-group">
                    <!-- Group Under is used to define the group which the Account name belongs to.!-->
                    <label class="req">Month</label>
                    <select
                      class="form-control"
                      label=""
                      name="Accountgroup[groupunder]"
                      id="Accountgroup_groupunder"
                    >
                      <option value="" selected="selected">Select Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <span
                      class="school_val_error"
                      id="Accountgroup_groupunder_em_"
                      style="display: none"
                    ></span>
                  </div>
                  <div class="form-group col-6">
                    <label for="reg_input_name" class="req">Start Date</label>
                    <div data-date-format="yy-mm-d" class="input-group date">
                      <input
                        maxlength="45"
                        class="form-control pickadate"
                        name="Voucher[startdate]"
                        id="Voucher_startdate"
                        type="text"
                      />
                      <span class="input-group-addon"
                        ><i class="icon-calendar"></i
                      ></span>
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <label for="reg_input_name" class="req">End Date</label>
                    <div data-date-format="yy-mm-d" class="input-group date">
                      <input
                        maxlength="45"
                        class="form-control pickadate"
                        name="Voucher[enddate]"
                        id="Voucher_enddate"
                        type="text"
                      />
                      <span class="input-group-addon"
                        ><i class="icon-calendar"></i
                      ></span>
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <input
                      placeholder="Payhead"
                      class="form-control"
                      id="payhead"
                      type="text"
                      value=""
                      name="payhead"
                    /><input
                      id="hidden-field"
                      name="output"
                      type="hidden"
                      value=""
                    />
                  </div>
                  <div class="form-group col-6">
                    <input
                      class="form-control"
                      placeholder="Amount"
                      name="Employeesalary[amount]"
                      id="Employeesalary_amount"
                      type="text"
                    />
                    <div
                      class="school_val_error"
                      id="Employeesalary_amount_em_"
                      style="display: none"
                    ></div>
                  </div>
                  <div class="form-group col-sm-2">
                    <p>
                      &nbsp;&nbsp;<a
                        href="javascript:getdetails()"
                        class="btn btn-info"
                        >GO</a
                      >
                    </p>
                  </div>
                  <div id="print">
                    <div class="form-group" id="salaryamount">
                      <table
                        data-provides="rowlink"
                        data-page-size="20"
                        data-filter="#mailbox_search"
                        class="table toggle-square default footable-loaded footable"
                        id="salarytable"
                      >
                        <thead>
                          <tr>
                            <th>Pay Head</th>
                            <th>Amt or %</th>
                            <th width="4" align="right"></th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-6">
                  <p>
                    <a class="btn btn-info" href="#" data-toggle="modal"
                      >Save</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="newMail">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    aria-hidden="true"
                    data-dismiss="modal"
                    class="close"
                    type="button"
                  >
                    ×
                  </button>
                  <h4 id="myModalLabel" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <table>
                      <tr>
                        <td align="center">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <img src="/img/withdrawal.png" width="50" alt="" />
                        </td>
                        <td align="center">
                          <h5 align="center">
                            &nbsp;&nbsp;&nbsp;&nbsp;Are you sure you want to
                            withdraw the employee details?
                          </h5>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="javascript:withdrawal()" class="btn btn-primary"
                    >OK</a
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-lg-12" style="padding-top: 72px">
          <div class="card card-cascade narrower">
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 d-flex justify-content-between align-items-center"
            >
              <div class="col-8">
                <div class="mainWrapper">
                  <h2>Customer</h2>
                  <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                      <input
                        class="form-control mr-sm-2 SearchForm"
                        type="text"
                        placeholder="Search"
                      />
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-4">
                <div class="btn-list">
                  <button
                    class="btn btn-outline-primary btn-rounded modalPopup"
                  >
                    <span class="mat-button-wrapper">
                      <i class="fa fa-filter" aria-hidden="true"></i>
                    </span></button
                  >&nbsp;
                  <tr class="left">
                    <span class="mat-button-wrapper">
                      <td>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu"
                          aria-label="Example icon-button with a menu"
                          class="colour"
                          class="btn btn-outline-primary btn-rounded modalPopup"
                        >
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <mat-icon>print</mat-icon>
                            <span>Print</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>import_export</mat-icon>
                            <span>Export</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                          </button>
                        </mat-menu>
                      </td>
                    </span>
                  </tr>
                </div>
              </div>
            </div>
            <!---------icons Start--------->
            <div class="">
              <div class="table-wrapper">
                <!--Table-->
                <table class="table">
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th scope="col" style="width: 4%">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="checkbox"
                        />
                      </th>
                      <th scope="col">Branch</th>
                      <th scope="col">Phone</th>
                      <th scope="col">AcademicYear</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    <tr>
                      <th scope="row">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="checkbox1"
                        />
                      </th>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            class="rounded-circle"
                          />
                          <div class="ms-3">
                            <p class="fw-bold">John Doe</p>
                          </div>
                        </div>
                      </td>
                      <td class="forNumbers">
                        <mat-icon class="icon-cc"> phone</mat-icon>
                        <mat-icon class="icon-cc-1"> email</mat-icon>
                      </td>
                      <td>Senior</td>
                      <td>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu"
                        >
                          <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu"
                        >
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                          <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                          </button>
                        </mat-menu>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="checkbox2"
                        />
                        <label
                          class="form-check-label"
                          for="checkbox2"
                          class="label-table"
                        ></label>
                      </th>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                            src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                            class="rounded-circle"
                            alt=""
                          />
                          <div class="ms-3">
                            <p class="fw-bold">Kate Hunington</p>
                          </div>
                        </div>
                      </td>
                      <td class="forNumbers">
                        <mat-icon class="icon-cc"> phone</mat-icon>
                        <mat-icon class="icon-cc-1"> email</mat-icon>
                      </td>
                      <td>Senior</td>
                      <td>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu"
                        >
                          <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu"
                        >
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                          <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                          </button>
                        </mat-menu>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="checkbox3"
                        />
                        <label
                          class="form-check-label"
                          for="checkbox3"
                          class="label-table"
                        ></label>
                      </th>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                            src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                            class="rounded-circle"
                            alt=""
                          />
                          <div class="ms-3">
                            <p class="fw-bold mb-1">Kate Hunington</p>
                          </div>
                        </div>
                      </td>
                      <td class="forNumbers">
                        <mat-icon class="icon-cc"> phone</mat-icon>
                        <mat-icon class="icon-cc-1"> email</mat-icon>
                      </td>
                      <td>Senior</td>
                      <td>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu"
                        >
                          <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu1"
                          aria-label="Example icon-button with a menu"
                        >
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                          <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                          </button>
                        </mat-menu>
                      </td>
                    </tr>
                  </tbody>
                  <!--Table body-->
                </table>
                <!--Table-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
