/*--------Header--------*/
/* header css starts  */
mat-toolbar {
  background-color: #003255;
}
button {
  /* background: unset; */
  /* border: unset; */
  /* color: #fff; */
  font-weight: 600;
  font-size: 13px;
}
button.mat-menu-item {
  color: #737171;
  font-size: 12px;
}
.mat-menu-item {
  height: 35px;
  padding: 0 28px;
}
/* header css ends  */
/* sidenav css start */
mat-drawer-container {
  height: 100%;
}
mat-drawer,
mat-drawer-content {
  padding: 16px;
}
mat-drawer {
  background-color: #003255;
  width: 200px;
}

.sidenav a {
  text-decoration: unset;
  font-size: 14px;
  color: rgb(245, 238, 238);
}
.sidenav mat-icon {
  font-size: 15px;
}
.sidenavbutton button mat-icon {
  color: #fff;
}
/* sidenav css ends */
