<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/images/final1.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
  <!--   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a> -->
  <br />
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <br />

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminsetup">
      <mat-icon>dashboard</mat-icon> Setup
    </a>

    <br> -->
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/Academics-Dashboard"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Academic
  </a>

  <br />
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/setup2">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Accounts
  </a>
  <br />

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/setup2">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Setup2
  </a>

  <br />

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/adduser">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Add user
  </a>

  <br />

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/trans">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Transport
  </a>

  <br />
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/lib">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Library
  </a>

  <br />

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/hostel">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    Hostel
  </a>

  <br />

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/setting-main"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    settings
  </a>

  <br />

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/enk">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >donut_small</mat-icon
    >
    enquari
  </a>

  <br />

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/org">
      <mat-icon>verified_user</mat-icon> Organization
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/branch">
      <mat-icon>verified_user</mat-icon> Branch Reg
    </a> -->

  <!-- dropdown -->

  <!-- master -->
  <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >folder_open</mat-icon
          >
          Masters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a
        mat-list-item
        routerLink="/academic-year"
        routerLinkActive="list-item-active"
      >
        Academic-Year</a
      >
      <a
        mat-list-item
        routerLink="/classes-creation"
        routerLinkActive="list-item-active"
      >
        Classes Creation</a
      >
      <a
        mat-list-item
        routerLink="/sections-creation"
        routerLinkActive="list-item-active"
      >
        Sections Creation</a
      >
      <a
        mat-list-item
        routerLink="/subjects-creation"
        routerLinkActive="list-item-active"
      >
        Subjects Creation</a
      >
      <a
      mat-list-item
      routerLink="/exams-creation"
      routerLinkActive="list-item-active"
    >
      Exams Creation</a
    >
    <a
    mat-list-item
    routerLink="/account-heads"
    routerLinkActive="list-item-active"
  >
    Account Heads</a
  >
  <a
  mat-list-item
  routerLink="/fee-types"
  routerLinkActive="list-item-active"
>
  Fee Types</a
>
<a
mat-list-item
routerLink="/installments"
routerLinkActive="list-item-active"
>
installments</a
>
<a
mat-list-item
routerLink="/fee-structure"
routerLinkActive="list-item-active"
>
Fee Structure</a
>
   
<a
mat-list-item
routerLink="/enrollno-master"
routerLinkActive="list-item-active"
>
EnrollNo Master</a
>

<a
mat-list-item
routerLink="/grades-creation"
routerLinkActive="list-item-active"
>
Grades Creation</a
>

<a
mat-list-item
routerLink="/sessions-entry"
routerLinkActive="list-item-active"
>
Sessions Entry</a
>

<a
mat-list-item
routerLink="/emp-allowances"
routerLinkActive="list-item-active"
>
EMP Allowances</a
>

<a
mat-list-item
routerLink="/emp-departments"
routerLinkActive="list-item-active"
>
EMP Departments</a
>


<a
mat-list-item
routerLink="/biometric-shifts"
routerLinkActive="list-item-active"
>
Biometric Shifts</a
>

<a
mat-list-item
routerLink="/emp-deductions"
routerLinkActive="list-item-active"
>
Emp Deductions</a
>

<a
mat-list-item
routerLink="/emp-designation"
routerLinkActive="list-item-active"
>
Emp Designation</a
>

<a
mat-list-item
routerLink="/emp-pay-scale"
routerLinkActive="list-item-active"
>
Emp Pay Scale</a
>
    </mat-expansion-panel><br> -->
  <!-- master -->

  <!-- academic -->
  <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >folder_open</mat-icon
          >
          Academics
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a
        mat-list-item
        routerLink="/StuApplications"
        routerLinkActive="list-item-active"
      >
        Stu.Applications</a
      >
      <a
        mat-list-item
        routerLink="/StuRegistration"
        routerLinkActive="list-item-active"
      >
        StuRegistration</a
      >
      <a
        mat-list-item
        routerLink="/StudentEdit"
        routerLinkActive="list-item-active"
      >
        Student Edit</a
      >
      <a
        mat-list-item
        routerLink="/StudentProfile"
        routerLinkActive="list-item-active"
      >
        Student Profile</a
      >
      <a
        mat-list-item
        routerLink="/DaywiseAttendance"
        routerLinkActive="list-item-active"
      >
        Daywise Attendance</a
      >
      <a
        mat-list-item
        routerLink="/MonthlyAttendance"
        routerLinkActive="list-item-active"
      >
        Monthly Attendance</a
      >
      <a
        mat-list-item
        routerLink="/DeviceAttendance"
        routerLinkActive="list-item-active"
      >
        Device Attendance</a
      >
      <a
        mat-list-item
        routerLink="/MarksEntry"
        routerLinkActive="list-item-active"
      >
        Marks Entry</a
      >
      <a
        mat-list-item
        routerLink="/Promotions"
        routerLinkActive="list-item-active"
      >
        Promotions</a
      >
      <a
        mat-list-item
        routerLink="/SectionChange"
        routerLinkActive="list-item-active"
      >
        Section Change</a
      >
  
      <a
        mat-list-item
        routerLink="/StuBulkTransfer"
        routerLinkActive="list-item-active"
      >
        Stu. Bulk Transfer</a
      >
  
      <a
        mat-list-item
        routerLink="/StudentTransfer"
        routerLinkActive="list-item-active"
      >
        Student Transfer</a
      >
  
      <a
        mat-list-item
        routerLink="/StudentDeletion"
        routerLinkActive="list-item-active"
      >
        Student Deletion</a
      >
  
      <a
        mat-list-item
        routerLink="/BiometricIdDetails"
        routerLinkActive="list-item-active"
      >
        BiometricID Details</a
      >
  
      <a
        mat-list-item
        routerLink="/DeletedStudents"
        routerLinkActive="list-item-active"
      >
        Deleted Students</a
      >
  
      <a
        mat-list-item
        routerLink="/HallticketsGen"
        routerLinkActive="list-item-active"
      >
        HallTickets Gen.</a
      >
  
      <a
        mat-list-item
        routerLink="/HallticketNoEdit"
        routerLinkActive="list-item-active"
      >
        HallTicketNo Edit</a
      >
  
      <a
        mat-list-item
        routerLink="/InactiveStdList"
        routerLinkActive="list-item-active"
      >
        InactiveStd.List</a
      >
  
      <a
        mat-list-item
        routerLink="/TimeTable"
        routerLinkActive="list-item-active"
      >
        Timetable</a
      >
      <a
        mat-list-item
        routerLink="/UpdateRollNo"
        routerLinkActive="list-item-active"
      >
        Update RollNo</a
      >
      <a
        mat-list-item
        routerLink="/UpdateStuDetails"
        routerLinkActive="list-item-active"
      >
        UpdateStu.Details</a
      >
      <a
        mat-list-item
        routerLink="/UpdateStudentID"
        routerLinkActive="list-item-active"
      >
        Update StudentID</a
      >
      <a
        mat-list-item
        routerLink="/UpdateUID"
        routerLinkActive="list-item-active"
      >
        Update UID</a
      >
    </mat-expansion-panel><br> -->
  <!-- academic -->
  <!--   -->
  <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >donut_small</mat-icon
          >
          Set Up
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a
      mat-list-item
      routerLink="/branch"
      routerLinkActive="list-item-active"
      >   Branch Reg </a
      >
      <a
        mat-list-item
        routerLink="/usercreation"
        routerLinkActive="list-item-active"
      >
        User Creation</a
      >
      <a mat-list-item routerLink="/userroles" routerLinkActive="list-item-active">
         User Roles</a
      >
      <a
        mat-list-item
        routerLink="/changpsd"
        routerLinkActive="list-item-active"
      >
        Change Password</a
      >
      <a
        mat-list-item
        routerLink="/uplode"
        routerLinkActive="list-item-active"
        >Photos Uplode</a
      >
      <a
      mat-list-item
      routerLink="/sms"
      routerLinkActive="list-item-active"
      > SMS Details</a
      >
      <a
      mat-list-item
      routerLink="/campus"
      routerLinkActive="list-item-active"
      > Campus Event</a
      >
      <a
      mat-list-item
      routerLink="/downlode"
      routerLinkActive="list-item-active"
      > Downlode</a
      >
      <a
      mat-list-item
      routerLink="/logdetails"
      routerLinkActive="list-item-active"
      > Login Details</a 
      >
      <a
      mat-list-item
      routerLink="/stulog"
      routerLinkActive="list-item-active"
      > Stu Login Display</a
      >
      <a
      mat-list-item
      routerLink="/rolescreat"
      routerLinkActive="list-item-active"
      > Roles Creation</a
      >
      <a
      mat-list-item
      routerLink="/menu"
      routerLinkActive="list-item-active"
      >  Menu Roles </a
      >
      <a
      mat-list-item
      routerLink="/asd"
      routerLinkActive="list-item-active"
      > certificate uplode</a
    >

      <a
      mat-list-item
      routerLink="/certificate"
      routerLinkActive="list-item-active"
      > certificate uplode</a
    >

    </mat-expansion-panel><br>  -->

  <!-- Employee -->
  <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >donut_small</mat-icon
          >
          Emlpoyee
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a
        mat-list-item
        routerLink="/empregistration"
        routerLinkActive="list-item-active"
      >
        Emp.Registration</a
      >
      <a
        mat-list-item
        routerLink="/employeeattendance"
        routerLinkActive="list-item-active"
        >Emp.Attendance</a
      >
  
      <a
        mat-list-item
        routerLink="/employeesalary"
        routerLinkActive="list-item-active"
        >Emp.Salary Details</a
      >
      <a
        mat-list-item
        routerLink="/employeeleave"
        routerLinkActive="list-item-active"
        >Emp.Leave Details</a
      >
      <a
        mat-list-item
        routerLink="/employeesalarypay"
        routerLinkActive="list-item-active"
        >Emp.Salary Payment</a
      >
      <a
        mat-list-item
        routerLink="/employeeevents"
        routerLinkActive="list-item-active"
        >Emp.Events</a
      >
    </mat-expansion-panel> -->
  <!-- Employee -->
</mat-nav-list>
