<!-- 





<div class="container-fluid page">

    <div class="content mat-elevation-z8">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Admin Setup</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-3">
                                            <h5 class="text-primary">Welcome To !</h5>
                                            <p>Admin Main Page</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mini-stats-wid">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="mb-0">Branch Reg</h4>
                                            </div>
                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                <span class="avatar-title">
                                                    <a mat-list-item href="/branchReg"  class="mdi mdi-arrow-right ms-1"></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mini-stats-wid">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="mb-0">User Creation</h4>
                                            </div>
                                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    <i class="mdi mdi-arrow-right ms-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mini-stats-wid">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="mb-0">Change Password</h4>
                                            </div>
                                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    <i class="mdi mdi-arrow-right ms-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="mb-0">SMS Details</h4>
                                    </div>
                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="mdi mdi-arrow-right ms-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="mb-0">Certificates Upload</h4>
                                    </div>
                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="mdi mdi-arrow-right ms-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="mb-0">Downloads</h4>
                                    </div>
                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="mdi mdi-arrow-right ms-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="mb-0">Login Details</h4>
                                    </div>
                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="mdi mdi-arrow-right ms-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="mb-0">Login Registrations</h4>
                                    </div>
                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="mdi mdi-arrow-right ms-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="mb-0">Student Remarks</h4>
                                    </div>
                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="mdi mdi-arrow-right ms-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                </div>
                
                
            </div>
        </div>
        
        
        
    </div>
    
    
  </div> -->

  <div class="container-fluid">
    <div class="page box p-3 mt-2"> Home</div>
    <div class="page content shadow p-3 position-relative">
       <div class="row">
          <div class="page content data" id="toggleTop">
             <div class="col-sm-12 display-flex">
                <div class="col-sm-4 col-md-4 forToggleGap">
                   <div class="card bg-c-blue order-card">
                      <div class="card-body">
                         <h6>Organization</h6>
                         <img src="assets/images/organization.jpg" class="card-img-top" alt="...">
                         <p class="card-text">Some Quick Information aabout the Organization</p>
                         <div class="forButton">
                            <button mat-button color="primary" class="primary">View</button>
                            <button mat-button color="accent" class="accent">Edit</button>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-sm-4 col-md-4 forToggleGap">
                   <div class="card bg-c-grey order-card">
                      <div class="card-body">
                         <h6>Last Session</h6>
                         <img src="assets/images/clock.png" class="card-img-top" alt="...">
                         <p class="card-text">Before You Have Logged in @ 15Jun - 10:30am</p>
                      </div>
                   </div>
                </div>
                <div class="col-sm-4 col-md-4 forToggleGap">
                   <div class="card bg-c-green order-card">
                      <div class="card-body">
                         <h6>Branch</h6>
                         <img src="assets/images/branch.jpg" class="card-img-top" alt="...">
                         <p class="card-text">Some Quick Information aabout the Organization</p>
                         <div class="forButton">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                               <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                               <mat-icon>edit</mat-icon>
                            </button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="page content data">
             <div class="col-sm-12 display-flex">
                <div class="col-sm-4 col-md-6 forToggleGap">
                   <div class="card bg-c-yellow order-card">
                      <div class="card-body">
                         <h6>STAFF Details</h6>
                         <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="position">
                               <th mat-header-cell *matHeaderCellDef> No. </th>
                               <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                               <th mat-header-cell *matHeaderCellDef> Name </th>
                               <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                               <th mat-header-cell *matHeaderCellDef> Weight </th>
                               <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                               <th mat-header-cell *matHeaderCellDef> Symbol </th>
                               <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                         </table>
                      </div>
                   </div>
                </div>
                <div class="col-sm-6 col-md-6 forToggleGap">
                   <div class="card bg-c-pink order-card">
                      <div class="card-body">
                         <h6>Students Details</h6>
                         <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="position">
                               <th mat-header-cell *matHeaderCellDef> No. </th>
                               <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                               <th mat-header-cell *matHeaderCellDef> Name </th>
                               <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                               <th mat-header-cell *matHeaderCellDef> Weight </th>
                               <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                               <th mat-header-cell *matHeaderCellDef> Symbol </th>
                               <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>